body {
    font-family: 'Unbounded', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#orcButton {
    display: flex;
    align-items: center; /* Alinha a imagem e o texto no centro */
    background-color: #EF49AD; /* Verde */
    color: white;
    border: none;
    padding: 15px 32px;
    font-size: 22px;
    font-family: 'Unbounded', sans-serif; /* Aplica a fonte ao botão também */
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.3s;
}

#googleDriveButton{
    display: flex;
    align-items: center; /* Alinha a imagem e o texto no centro */
    background-color: #eeda00;
    color: white;
    text-decoration: none; /* Remove o sublinhado do link */
    border: none;
    padding: 15px 32px;
    font-size: 22px;
    font-family: 'Unbounded', sans-serif; /* Aplica a fonte ao botão também */
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    margin: 10px 0; /* Espaçamento entre os botões */
}

.orc-image {
    width: 64px; /* Tamanho reduzido da imagem */
    height: 64px; /* Tamanho reduzido da imagem */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

#orcButton:hover {
    background-color: #AE3FC2;
}

#googleDriveButton:hover {
    background-color: #c7b600;
}

.orc-button:focus {
    outline: none;
}