.portal-buttons-container {
    display: flex;
justify-content: center;
align-items: center;
gap: 21px;
}

.portal-button {
    display: flex;
width: 57px;
height: 57px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 100px;
background:  #E5E5E5;
border: none;
}

.portal-button:hover {
    border: 1px #16831b;
    background-color: var(--degrade-verde, linear-gradient(0deg, #3FCC10 0%, #3FCC10 100%));
    transform: translateY(-1px);
}

.button-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
    display: block;
}